In [ ]:
# PROPHET
# Rotina 04 - TempoMinutos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics

In [ ]:
from fbprophet import Prophet
from fbprophet.plot import add_changepoints_to_plot
from fbprophet.plot import plot_cross_validation_metric
from fbprophet.diagnostics import performance_matrics
from fbprophet.diagnostics import cross_validations

In [2]:
# Efetua carga da base
_df = pd.read_excel('DataFrame_Processos_Percentual_Base_Completa.xlsx')
_df = _df.loc[_df['Processo']=='Rotina_04']

In [3]:
# O Prophet necessita que a columa data tenha o nome 'ds' e o conte√∫do/valor a ser predito tenha o nome 'y'
_df.rename(columns={'DiaInicio': 'ds'}, inplace = True)
_df.rename(columns={'TempoMinutos': 'y'}, inplace = True)
_df.head()

,ds,DtHoraInicio,DtHoraFim,Processo,y,TempoMinutosInicioExecucao
1077,2021-01-05,2021-01-05 02:44:00,2021-01-05 06:30:00,Rotina_04,226,164.0
1078,2021-01-06,2021-01-06 02:16:00,2021-01-06 06:52:00,Rotina_04,276,136.0
1079,2021-01-07,2021-01-07 04:27:00,2021-01-07 11:11:00,Rotina_04,404,267.0
1080,2021-01-08,2021-01-08 04:06:00,2021-01-08 10:44:00,Rotina_04,398,246.0
1081,2021-01-09,2021-01-09 02:06:00,2021-01-09 06:15:00,Rotina_04,249,126.0

In [4]:
# Cria Dataframe somente com as colunas que interessam
df = pd.DataFrame(_df, columns = ['ds', 'y'])
df.DiaInicio = pd.to_datetime(_df.ds)
df.set_index('ds', inplace=True)

C:\Users\Michael\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
df.head(5)

              y
ds
2021-01-05  226
2021-01-06  276
2021-01-07  404
2021-01-08  398
2021-01-09  249

In [10]:
train_set = df.iloc[:-120]
test_set = df.iloc[-120:]

In [13]:
train_set, test_set

(              y
 ds
 2021-01-05  226
 2021-01-06  276
 2021-01-07  404
 2021-01-08  398
 2021-01-09  249
 ...         ...
 2021-08-27  477
 2021-08-28  380
 2021-08-29  386
 2021-08-30  316
 2021-08-31  294

 [239 rows x 1 columns],
               y
 ds
 2021-09-01  380
 2021-09-02  402
 2021-09-03  356
 2021-09-04  430
 2021-09-05  431
 ...         ...
 2021-12-25  442
 2021-12-26  352
 2021-12-27  408
 2021-12-28  482
 2021-12-29  401

 [120 rows x 1 columns])

In [ ]:
model_mensal = Prophet()

In [ ]:
model_mensal.fit(train_set)

In [ ]:
y_pred = model_mensal.predict(test_set)

In [ ]:
model_mensal.plot(y_pred)

In [ ]:
print('RMSE: {}'.format(metrics.mean_squared_error(test_set['y'].values, y__pred['yhat'].values, squared=False)))